<app-header [backButton]="true"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title><strong>Configuración</strong></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="saveSettings()" (keypress.enter)="saveSettings()">
        <ion-item>
            <ion-select formControlName="language" label="Idioma" value="español" interface="popover" placeholder="Selecciona el Idioma">
              <ion-select-option value="español">Español</ion-select-option>
              <ion-select-option value="english">English</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
          <ion-toggle formControlName="notification" labelPlacement="start" slot="end">Recibir notificaciones</ion-toggle>
        </ion-item>
        <ion-button class="ion-margin" type="submit" expand="block" fill="clear" shape="round">
          Guardar
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>