<app-header [isMain]="true" title="Inicio"></app-header>
<ion-content>
  <app-logo></app-logo>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Pagos próximos</ion-card-title>
    </ion-card-header>
    <!-- SKELETON PLACEHOLDER WHILE LOADING -->
    <ion-card-content *ngIf="loading">
      <ion-list  *ngFor="let month of [0,0,0,0]">
        <ion-item>
          <ion-label>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
          </ion-label>
          <ion-thumbnail>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-thumbnail>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <!-- SI HAY MESES PENDIENTES -->
    <ion-card-content *ngIf="months.length && !loading">
      <ion-list  *ngFor="let month of months">
        <ion-item button="true" (click)="routerLink('/payment', month)">
          <ion-label>
            <strong>Ciclo {{ semester.cycle }} - {{ semester.year }} {{ month.id | uppercase }}</strong>
            <p>Vence: {{ month.dueDate | date }}</p>
          </ion-label>
          <ion-label slot="end">{{ month.totalFee | currency : 'USD' : 'symbol' : '2.0-2' }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <!-- SI NO HAY MESES PENDIENTES -->
    <ion-item *ngIf="!months.length && !loading">
      <ion-label class="ion-text-center">
        <ion-icon name="information-circle"></ion-icon>
        No hay pagos pendientes en el ciclo actual {{ semester.cycle }}-{{ semester.year }}
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>