<app-header [isMain]="true" title="Perfil"></app-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      
      <ion-card-title>
        <ion-icon name="person"></ion-icon>  Datos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="form" class="ion-text-center" (ngSubmit)="updateEMail()">
        <app-custom-input [control]="form.controls.name" type="text" label="Nombre"></app-custom-input>
        <app-custom-input [control]="form.controls.carnet" type="text" label="Carnet"></app-custom-input>
        <app-custom-input [control]="form.controls.carrera" type="text" label="Carrera"></app-custom-input>
        <!-- CAMBIO DE EMAIL -->
        <app-custom-input [control]="form.controls.email" type="text" label="Email"></app-custom-input>
        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
          <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
        </div>
        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
          <div *ngIf="form.controls.email.errors?.['email']">Introduzca un correo válido</div>
        </div>
        <div>
          <ion-label>Puedes cambiar tu correo personal, el correo vinculado es donde se enviaran los comprobantes de pago</ion-label>
        </div>
        <ion-button type="submit">
          <ion-icon slot="start" name="mail"></ion-icon>
          Cambiar Correo Personal
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title><ion-icon name="card"></ion-icon>   Mis Tarjetas</ion-card-title>
    </ion-card-header>
    <!-- SKELETON PLACEHOLDER WHILE LOADING -->
    <ion-card-content *ngIf="loading">
      <ion-list  *ngFor="let month of [0,0]">
        <ion-item>
          <ion-label>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <!-- CARD QUE LISTA LAS TARJETAS -->
    <ion-card-content *ngIf="!loading">
      <!-- NO HAY TARJETAS REGISTRADAS -->
      <ion-label *ngIf="!cards.length" class="ion-text-center">
        <ion-icon name="information-circle"></ion-icon>
        No ha registrado ninguna Tarjeta
      </ion-label>
      <!-- LISTADO DE LAS TARJETAS -->
      <ion-list *ngFor="let card of cards">
        <ion-item button="true" (click)="addUpdateCard(card)">
          <ion-label>
            {{ card.number | maskCardNumber }} - EXP {{ card.expDate }}
            <p>{{ card.name }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <!-- BOTON PARA AÑADIR NUEVA TARJETA -->
      <ion-item button="true" (click)="addUpdateCard()" lines="none">
        <ion-label color="success">
          <ion-icon slot="start" name="add"></ion-icon>
          Agregar Nueva Tarjeta
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>