<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button *ngIf="isModal" (click)="dismissModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
      <ion-back-button *ngIf="backButton" defaultHref="main/home"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="title">{{title}}</ion-title>
    <ion-buttons *ngIf="isMain" slot="end">
      <ion-button color="danger" (click)="signOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>