<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-buttons>
        <ion-back-button *ngIf="backButton" defaultHref="backButton">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title *ngIf="title">{{title}}</ion-title>
    <ion-buttons *ngIf="isMain" slot="end">
      <ion-button color="danger" (click)="signOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>