<app-header [backButton]="true" title="Detalle de Pago"></app-header>

<ion-content>
  <!-- MUESTRA EL MONTO Y SI EXISTE PENALIDAD -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mora por atraso, vea detalles abajo.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Fecha actual: {{ currentDate | date:'medium' }}</p>
      <p *ngIf="isPenaltyApplicable">
        Cantidad a pagar: {{ month.totalFee | currency : 'USD' : 'symbol' : '2.0-2'}} (Mora ${{ month.charges[1]['fee'] }})
      </p>
      <p *ngIf="!isPenaltyApplicable">
        Cantidad a pagar: {{ month.totalFee | currency : 'USD' : 'symbol' : '2.0-2'}} (No aplica Mora)
      </p>
    </ion-card-content>
  </ion-card>

  <!-- MUESTRA LA INFORMACION DEL ESTUDIANTE -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información de Pago</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ user.name }}
      <p>{{ user.email }}</p>
    </ion-card-content>
  </ion-card>

  <!-- SELECCION DE TARJETA -->
  <form [formGroup]="form">
    <ion-item class="ion-margin">
      <ion-select formControlName="cards" placeholder="Selecciona la tajeta con la que desea realizar el pago"
        interface="action-sheet">
        <ion-select-option *ngFor="let card of cards" [value]="card">{{card.number | maskCardNumber}} - EXP {{card.expDate}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button class="ion-margin" (click)="routerLink('payment/payment-confirm')" expand="block" fill="clear" shape="round">
      Proceder a pago
    </ion-button>
  </form>
</ion-content>